[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
django-webpack-loader = "*"
numpy = "*"
pandas = "*"
scikit-learn = "*"
scipy = "*"
tensorflow-gpu = "*"
jpype1 = "*"
pymongo = "*"
keras = "*"
djangorestframework = "*"
markdown = "*"
django-filter = "*"
django-cors-headers = "*"
mongoengine = "*"
django-rest-framework-mongoengine = "*"

[requires]
python_version = "3.6"
